.hoja {
    max-width: 1000px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 0px 7px 7px rgb(130, 120, 139);
    background-color: #3d3c3f;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto;

}

.input {
    margin-right: 5px;
    margin-bottom: 15px;
    max-height: 15px;
    max-width: 150px;
    background-color: rgb(230, 245, 247);
}

.label {
    margin-right: 5px;
    margin-bottom: 15px;
    justify-self: end;
    font-weight: bold;
    font-size: small;
}

.botones {
    font-weight: bold;
    min-width: 130px;
    border-top-left-radius: 50px;    
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid;
    background-color: rgb(81, 85, 85);
    cursor: pointer;
}

.pestanyact {
    font-weight: bold;
    min-width: 130px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid;
    border-bottom: none;
    background-color: rgb(100, 105, 105);
    text-align: center;
    cursor: pointer;

}

.contenedor {
    font-weight: bold;
    display: flex;
    width: 1010px;
    background-color: rgb(100, 105, 105);
    justify-content: center;
    margin-left: -5px;
}

.oculto {
    visibility: hidden;
    display: none;
}

.celPeq {
    max-width: 15px;
    max-height: 15px;
    border-style: inset;
    background-color: rgb(230, 245, 247);
}

.celCalc {
    display: flex;
    width: 18px;
    height: 18px;
    margin: 1px;
    border-style: outset;
    border-top: none;
    justify-content: center;
    align-self: flex-start;
    background-color: rgb(230, 245, 247);    
}